# **Question 1**

Given a string, display only those characters which are present at an even index number.

For example str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

Expected Output:
Orginal String is  pynative
Printing only even index chars

p

n

t

v

In [5]:
def stringChange(str):
  length=len(str)
  for ch in str[0:length:2]:
    print(ch)

stringChange("pynative")

p
n
t
v

# **Question 2**

Given a list of numbers, return True if first and last number of a list is same

Expected Output:

Given list is  [10, 20, 30, 40, 10]

result is True

Given list is  [10, 20, 30, 40, 50]

result is False

In [8]:
def samesieess(listee):
  if listee[0] == listee[-1]:
    return True
  return False

samesieess([10,20,30,40,50])

False

# **Question 3**

Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

Expected Output:

Given list is  [10, 20, 33, 46, 55]

Divisible of 5 in a list

10

20

55

In [6]:
def divisi(arr):
  for i in arr:
    if i%5==0 :
      print(i)

divisi([10,20,33,46,55])

10
20
55

# **Question 4**

Return the total count of sub-string “Emma” appears in the given string

Given string is “Emma is good developer. Emma is a writer”

Expected Output:

Emma appeared 2 times

In [8]:
def countSubSring(str, substr):
  count=0
  for word in str.split():
    if word==substr:
      count=count+1
  print(substr+" appeared",count,"times")

countSubSring("Emma is a good developer. Emma is a writer","Emma")

Emma appeared 2 times

# **Question 5**

Print the following pattern:

1 

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

In [16]:
def pattern():
  for i in range(5):
    for j in range(i+1):
      print(i+1, end=" ")
    print()

pattern()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# **Question 6**

Reverse a given number and return true if it is the same as the original number

Expected Output:

original number 121

The original and reverse number is the same

original number 125

The original and reverse number is not same

In [20]:
def isPalin(Num):
  copy=Num
  rev=0
  while copy>0:
    rev=(rev*10)+(copy%10)
    copy=int(copy/10)
  if rev==Num:
    return True
  return False

isPalin(12521)

12521

True

# **Question 7**

Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list

Expected Output:

First List  [10, 20, 23, 11, 17]

Second List  [13, 43, 24, 36, 12]


result List is [23, 11, 17, 24, 36, 12]

In [25]:
def changeLists(L1,L2):
  ret=[]
  for val in L1:
    if val%2!=0:
      ret.append(val)
  for val in L2:
    if val%2==0:
      ret.append(val)
  return ret

changeLists([10,20,23,11,17],[13,43,24,36,12])

[23, 11, 17, 24, 36, 12]

# **Question 8**

Print multiplication table form 1 to 10

Expected Output:

1  2 3 4 5 6 7 8 9 10 		

2  4 6 8 10 12 14 16 18 20 		

3  6 9 12 15 18 21 24 27 30 		

4  8 12 16 20 24 28 32 36 40 		

5  10 15 20 25 30 35 40 45 50 	

6  12 18 24 30 36 42 48 54 60 

7  14 21 28 35 42 49 56 63 70 

8  16 24 32 40 48 56 64 72 80 

9  18 27 36 45 54 63 72 81 90 	
	
10 20 30 40 50 60 70 80 90 100

In [29]:
def multiplicationTable():
  for i in range(10):
    for j in range(10):
      print((i+1)*(j+1),end=" ")
    print()

multiplicationTable()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# **Question 9**

Print downward Half-Pyramid Pattern with Star (asterisk)

* * * * *  
* * * *  
* * *  
* * 
*

In [33]:
def halfPyramid():
  for i in range(5,0,-1):
    for j in range(i):
      print("*",end=" ")
    print()

halfPyramid()

* * * * *
* * * *
* * *
* *
*